/* Write your CSS here */
.piecont {
  display: flex;
  flex-direction: column;
}

.card-cont {
  background-color: #1c1c2b;
  background-size: cover;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 80%;
}