/* Write your CSS here */
.bg-cont {
  background-color: #161625;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headstyle {
  color: white;
}

.imgstyle {
  height: 70px;
  width: 70px;
}

.imgcont{
  display: flex;
  align-self: flex-start;
  margin-left: 20px;
  margin-top: 20px;
}

